
.header {
    height: 70px;
    width: 100%;
    display: flex;
    background-color: #F5F5F5;
    box-shadow: 0 4px 2px -2px #D4D4D4;
    
    & h1 {
        margin-left: 40px;
        font-weight: 650;
        text-align: left;
        align-self: center;
    }

    &-user {
        position: absolute;
        right: 0;
        align-self: center;
    }
}

.btn {
    font-size: 16px;
    font-family: FontAwesome;
    border: 0;
    background-color: transparent;
    
    &:hover {
        cursor: pointer;
    }

    &:focus, &:active {
        border: none !important;
        outline: none !important;
    }

     &-user::after {
        content: ' \f078';
    }
    
}

.panel {
    width: 240px;
    position: absolute;
    right: 10px;
    top: 70px;
    z-index: 1;

    &-card {  
        border-radius: 0;
    }
}

.shadow {
    position: absolute;
    width: calc(100% + 30px);
    height: 100%;
    top: 70px;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
