
.col {
    width: 250px;
    height: 100%;
}

.side-nav {
    margin-top: 35px;
    &-link {
        margin: 1px;

        &-btn{
            outline: 0;
            border: 0;
            background-color: transparent;
            font-size: 14px;
            text-align: left;
        }
    }
}